{{#section 'head'}}
	<script id="answerTemplate" type="text/x-handlebars-template">
		<input type="text" class="form-control possible-answer" name="answers[]" placeholder="potential answer..">
	</script>
	<script type="text/javascript" src="{{static '/vendor/jquery.datetimepicker.js'}}"></script>

{{/section}}

<div class="row">
	<div class="col-lg-6 col-lg-offset-2">
		<form action="" method="post">
			<div class="form-group">
				<label>Prompt</label>
				<input type="text" class="form-control" name="prompt">
			</div>
			<input id="inputCategories" type="hidden" name="selectedCategories" value="">
			<div class="form-group">
				<label>Possible Answers</label>
				<div id="newAnswers">
					<input type="text" class="form-control possible-answer" name="answers[]" placeholder="potential answer..">
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<a href="#" class="btn btn-primary btn-block" id="addAnswer">+</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="#" class="btn btn-primary btn-block" id="removeAnswer">-</a>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>End time</label>
				<input id="endTime" name="endTime" type="text"></input>
				<input id="finalEndTime" name="finalEndTime" type="hidden">
			</div>
			<div class="form-group">
				<label>Categories</label>
				<div class="row">
					{{#each categories }}
					<div category-id="{{ this.id }}" class="category col-lg-2 col-md-2">
						{{ this.name }}
					</div>
					{{/each }}
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-block">Add New Poll</button>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#endTime').datetimepicker({
			onChangeDateTime: function(dp,$input){
				temp = new Date($input.val());
				$("#finalEndTime").val(temp.toUTCString());
			}	
		});
	});
	sports.question.addQuestion();
</script>